<a href="https://colab.research.google.com/github/AAAAlanHe/DSC110/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello Word")

Hello Word

out put "Hello Word"

# variables
in this section, we will discuss variables

In [3]:
a = "MCPHS"

assign a as mcphs

In [5]:
print(a)

MCPHS

output a

In [8]:
b = "Boston"

assign b

In [9]:
print(b)

Boston

output b

In [28]:
print(a[0])

M

out put the first digit of a

In [18]:
b = 2
c = 3
d = b + c
print(d)

5

calculate 2+3

In [19]:
type(d)

int

the data type of d is integer

In [20]:
type(a)

str

a is string

In [21]:
5**2

25

calculate 5*5

In [23]:
print(5**2)

25

output the result

# Lists

In [43]:
My_List = (1,2,3,4,5,a)

make a list

In [44]:
print(My_List)

(1, 2, 3, 4, 5, 'MCPHS')

print the list

In [45]:
My_List[1]

2

the second of the list

# Tuple

In [47]:
My_Tuple=(1,2,3,4,5)

make a tuple

In [48]:
print(My_Tuple)

(1, 2, 3, 4, 5)

print the tuple

In [49]:
print(My_Tuple[1])

2

the second of the tuple

# Dictionary

In [33]:
My_Dictionary={
    "Name":"Heather",
    "Age":"35",
    "Gender":"Female",
    "city":"Boston"
}

assign the information to the dictionary

In [35]:
My_Dictionary['Name']

'Heather'

output the name in dictionary

# Sets

In [51]:
My_Set={1,2,3,4,5,5}

make a set

In [52]:
print(My_Set)

{1, 2, 3, 4, 5}

print the set

In [50]:
print(My_Set[1])

TypeError: 'set' object is not subscriptable

cannot access by position

# Functions

In [54]:
Temp = (4*9/5)+32
print(Temp)

39.2

cauculate f of 4c

In [59]:
temp=(-6*9/5)+32
print(temp)

21.2

-6c

In [58]:
def c_to_f(c_temp):
  f_temp=(c_temp*9/5)+32
  return f_temp

define a function to calculate the temperature

In [60]:
f_temp=c_to_f(4)

39.2

use the function

# Formattied String Leterals

In [67]:
print(f"the temperature is {c_to_f(0)}F")

the temperature is 32.0F

print the result in a full sentence

# Loops

In [72]:
My_Temp_List_C = [0,10,20,30,40]

make a list for the original data

In [68]:
c_to_f(0)
c_to_f(10)

50.0

calculate some of the data

In [73]:
for c_temp in My_Temp_List_C:
 print(c_to_f(c_temp))

32.0
50.0
68.0
86.0
104.0

use for loop to calculate all the datas in the list

# Exercise

In [95]:
def calculate_BMI(weight_kg,height_m):
  BMI=weight_kg/height_m**2
  return BMI

define a function to calculate BMI

In [96]:
calculate_BMI(weight_kg=70,height_m=1.75)

22.857142857142858

use the function to calculate BMI for a person 70kg and 1.75m

In [97]:
BMI=18
if BMI<20:
  print("underweight")
else:
  print("normal")

underweight

use if and else to output the result of BMI is normal or not

# libraries

In [ ]:
import pandas as pdd
import numpy as np

some database in python

In [99]:
sum_c=sum(My_Temp_List_C)
print(c)

3

use of the database